<div class="round animate__animated animate__fadeInLeft"></div>
<div class="container">

    <h2>Qui sommes nous ? </h2>

    <div class="flex-left animate__animated animate__fadeInLeft">
        <p><b>L</b>a parole des artistes nous apparaît aujourd’hui plus que jamais nécessaire, pour interroger nos émotions, notre quotidien et de penser l’avenir. C'est pour quoi moi, étudiante et passionée d'arts, eu l'envie de réaliser une application qui permette aux créateurs de recevoir des Tips (pourboires) de la part de toutes les personnes qui considèrent l'art comme une valeur essentielle, tout au long de l’année.
        </p>
    </div>
    
    <h1>Comment ça marche ? </h1>

    <div class="flex-right animate__animated animate__fadeInRight">
        <p><b>C'est simple, si tu veux soutenir un artiste</b>,  tu n'as pas besoin de créer de compte ! <br>
        Il te suffit simplement d'aller dans l'onglet "Catalogue" pour découvrir les artistes inscrits sur notre site et de te rendre sur la page de l'artiste que tu souhaites soutenir. Une fois sur la page de ton créateur préféré il te suffit de mettre la somme que tu souhaites via Paypal :)</p>

        <p><b>Si tu es un artiste</b>, que tu sois peintre, sculpteur, musicien, créateur de bijoux ou tout autre artisanat et que tu as du mal à vivre de ton art, cette application est là pour toi ! Il te suffit de t'inscrire sur l'onglet "Inscription" de remplir le formulaire, tu seras tout de suite redirigé vers ton profil que tu pourras modifier ou supprimer quand tu veux. <br><br>
        
       <b> Le + </b>: En t'inscrivant, nous allons générer un QRcode menant à ta page d'artiste, tu pourras ensuite l'utiliser sur tous tes reseaux  = ) !</p>
        
    </div>

</div>
