<div class="round animate__animated animate__fadeInLeft"></div>
<div class="container">

    <h2>Qui sommes nous ? </h2>

    <div class="flex-left animate__animated animate__fadeInLeft">
        <p><b>L</b>a parole des artistes nous apparaît aujourd’hui plus que jamais nécessaire, pour interroger nos émotions, notre quotidien et penser l’avenir. <br> C'est pour quoi j'eus l'envie de réaliser une application qui permette aux créateurs de recevoir des Tips (pourboires) de la part de toutes les personnes qui considèrent l'art comme une valeur essentielle, tout au long de l’année.
        </p>
    </div>
    
    <h1>Comment ça marche ? </h1>

    <div class="flex-right animate__animated animate__fadeInRight">

        <p><b>C'est simple,</b> inscrit toi et tu auras accès aux profils artistes inscrit sur le site afin de pouvoir les aider !</p>
   

        <p><b>Si tu es un artiste</b>, que tu sois peintre, sculpteur, musicien, créateur de bijoux ou tout autre artisanat et que tu as du mal à vivre de ton art, cette application est là pour toi !</p>
        
    </div>

</div>
