
.round{
    height: 300px;
    width: 300px;
   
    background-color: #f1f2f9;
    opacity: 0.4;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f1f2f9 4px ), repeating-linear-gradient( #e0b7c655, #e0b7c6 );

    margin: 30px 30px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}
.container {
    padding: 50px 0;
    
}
.container > h2, h1 {
    text-align: center;
    margin: revert;
    font-family: 'Bebas Neue', cursive;
}
.container > .flex-left, .flex-right> p {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 100;
}
.container > .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
b {
    font-weight: 900;
    font-size: 40px;
    font-family: 'Allison', cursive;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
    

    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    .container {
        margin: 0;
        padding: 0;
    }
    .header {
        width: 100%;
    }

    }
    