@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    font-family: 'Quicksand', sans-serif;
    border-color : #8c96cf;
}
h1 {
    text-align: center;
}
.form-control.ng-touched.ng-valid {
    border: 1px solid green;
}
.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}