<div class="round animate__animated animate__fadeInTopLeft"></div>

<div class="container">

  <h2 class="text-center m-5">Inscription Artiste</h2>

</div>

<div class="containerForm">

<form class="m-5 form align-center" style="width: 50%;" [formGroup] = "formValue" novalidate>

    <div class="mb-1">
     <p>Les champs obligatoires sont précédés d'une étoile *</p>
        <label for="stageName" class="form-label">Nom de scène *</label>
        <input type="text" class="form-control" id="stageName" formControlName = "stageName" >
      </div>

      <div *ngIf="formValue.controls['stageName'].invalid && (formValue.controls['stageName'].dirty || formValue.controls['stageName'].touched)">
        <small class="text-danger" *ngIf="formValue.controls['stageName'].errors">
          Un nom de scène est requis
        </small>
      </div>

   <div class="mb-1">
     <label for="lastName" class="form-label">Nom *</label>
     <input type="text" class="form-control" id="lastName" formControlName = "lastName">
   </div>


   <div *ngIf="formValue.controls['lastName'].invalid && (formValue.controls['lastName'].dirty || formValue.controls['lastName'].touched)">
     <small class="text-danger" *ngIf="formValue.controls['lastName'].errors">
       Un nom est requis
     </small>
   </div>


   <div class="mb-1">
     <label for="name" class="form-label">Prénom *</label>
     <input type="text" class="form-control" id="name" formControlName = "name">
   </div>


    <div *ngIf="formValue.controls['name'].invalid && (formValue.controls['name'].dirty || formValue.controls['name'].touched)">
      <small class="text-danger" *ngIf="formValue.controls['name'].errors">
        Un prenom est requis
      </small>
    </div>

     <div class="mb-1">
       <label for="email" class="form-label">Adresse Email *</label>
       <input type="email" class="form-control" id="email" formControlName = "email" aria-describedby="emailHelp">
       <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</div>
     </div>


    <div *ngIf="formValue.controls['email'].invalid && (formValue.controls['email'].dirty || formValue.controls['email'].touched)">
      <small class="text-danger" *ngIf="formValue.controls['email'].errors">
        Un email unique est requis
      </small>
    </div>


     <div class="mb-1">
        <label for="socialMedia" class="form-label">Réseaux social *</label>
        <input type="text" class="form-control" id="socialMedia" formControlName = "socialMedia">
      </div>


    <div *ngIf="formValue.controls['socialMedia'].invalid && (formValue.controls['socialMedia'].dirty || formValue.controls['socialMedia'].touched)">
      <small class="text-danger" *ngIf="formValue.controls['socialMedia'].errors">
        Un reseau social est requis
      </small>
    </div>


     <div class="mb-1">
       <label for="password" class="form-label">Mot de passe *</label>
       <input type="password" class="form-control" id="password" formControlName ="password">
     </div>


    <div *ngIf="formValue.controls['password'].invalid && (formValue.controls['password'].dirty || formValue.controls['password'].touched)">
      <small class="text-danger" *ngIf="formValue.controls['password'].errors">
        Un mot de passe est requis
      </small>
    </div>


     <div class="box d-flex justify-content-center">
         <button type="submit"(click)="postArtistDetails()" [disabled]="formValue.pristine || formValue.invalid" >Enregistrer</button>
     </div>
     
 </form>


<div class="round-bottom animate__animated animate__fadeInBottomRight"></div>

</div>


