<div class="container">

    <h2 class="text-center m-5">Vous êtes Artiste ou souhaitez devenir Tipr?</h2>

    <p>Creez votre compte en deux clics afin de recevoir ou tiper n'importe quel artiste de la plateforme !</p>

    <div class="containerButton d-flex flex-wrap">
      <button class="button button5 animate__animated animate__fadeInLeft" [routerLink]="['/form-artist']" >ARTISTE</button>
      <button class="button button5 animate__animated animate__fadeInRight" [routerLink]="['/form-tipr']">TIPPER</button>
    </div>

</div>

